<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:include="fragments/components::header">
</head>
<body>
<div class="container mt-1">
  <div class="shadow p-3 mb-5 bg-body rounded">
    <span th:text="${loggedB2c.getUsername()}"></span>
  </div>
</div>
<div class="container mt-1">
  <div class="shadow p-3 mb-5 bg-body rounded">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>b2b name</th>
        <th>product name</th>
        <th>category</th>
        <th>price</th>
        <th>quantity</th>
      </tr>
      </thead>
      <tbody>
      <tr th:if="${ProductsOfLoggedB2C.isEmpty()}">
        <td colspan="2"> no products to display</td>
      </tr>
      <tr th:each="loggedb2c:${ProductsOfLoggedB2C}">
        <td style="display: none" th:value="${loggedb2c.getUser().getId()}"></td>
        <td th:text="${loggedb2c.getUser().getUsername()}"></td>
        <td th:text="${loggedb2c.getProduct().getName()}"></td>
        <td th:text="${loggedb2c.getProduct().getCategory()}"></td>
        <td th:text="${loggedb2c.getProduct().getPrice()}"></td>
        <td th:text="${loggedb2c.getQuantity()}"></td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div>
    <a href="/B2CController/RequestMarfa" class="link-danger">Request marfa:)</a>
  </div>
</div>
<div th:include="fragments/components::bootstrap_script"/>
</body>
</html>