<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:include="fragments/components::header">
</head>
<body>

<div class="container mt-1">
  <div class="shadow p-3 mb-5 bg-body rounded">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>b2c name</th>
          <th>product name</th>
          <th>category</th>
          <th>price</th>
          <th>quantity</th>
        </tr>
      </thead>
      <tbody>
      <tr th:if="${b2csWithProducts.isEmpty()}">
        <td colspan="2"> no b2c to display</td>
      </tr>
        <tr th:each="oneB2cWithProducts:${b2csWithProducts}">
         <td style="display: none" th:value="${oneB2cWithProducts.getUser().getId()}"></td>
          <td th:text="${oneB2cWithProducts.getUser().getUsername()}"></td>
          <td th:text="${oneB2cWithProducts.getProduct().getName()}"></td>
          <td th:text="${oneB2cWithProducts.getProduct().getCategory()}"></td>
          <td th:text="${oneB2cWithProducts.getProduct().getPrice()}"></td>
          <td th:text="${oneB2cWithProducts.getQuantity()}"></td>
          <td></td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
<div th:include="fragments/components::bootstrap_script"/>
</body>
</html>